<section id="certificates" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Certificates</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>
      <div class="row">
        <% certificates.forEach(data => { %>
          <div class="col-md-5 icon-box p-5 m-4 w-90" data-aos="fade-up" data-aos-delay="100">
            <div class="w-100">
              <div class="icon"><i class="bi <%= data.icon %> "></i></div>
              <div class="">
                <h4 class="title">
                  <%= data.title %>
                </h4>
                <p class="title sub-title">
                  <%= data.subtitle %>
                </p>
              </div>
              <p class="">
                <%= data.desc %>
              </p>
              <a href="<%= data.link %>" class="btn btn-primary me-2"target="_blank">View</a>
              <a href="<%= data.link %>" class="btn bg-second light" download>Download</a>    
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </section><!-- End Services Section -->