<section id="resume" class="resume section-bg-dark">
    <div class="container">
      <div class="section-title">
        <h2>Resume</h2>
        <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4><%= resume.summary.name %> </h4>
            <!-- <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p> -->
            <ul>
              <li><%= resume.summary.domicile %></li>
              <li><%= resume.summary.phone %></li>
              <li><%= resume.summary.mail %></li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <% resume.education.forEach(data => { %>
            <div class="resume-item">
              <h4><%= data.major %></h4>
              <h5><%= data.time %> </h5>
              <p><em><%= data.at %> </em></p>
              <p><%= data.desc %> </p>
            </div>
          <% }) %>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <% resume.experience.forEach(exp => { %>
            <div class="resume-item">
              <h4><%= exp.profession %> </h4>
              <h5><%= exp.time %> </h5>
              <p><em><%= exp.at %> </em></p>
              <ul>
                <li>
                  <%= exp.jobdesc[0] %> 
                </li>
                <li>
                  <%= exp.jobdesc[1] %> 
                </li>
                <li>
                  <%= exp.jobdesc[2] %> 
                </li>
              </ul>
          </div>
          <% }) %>
        </div>
      </div>

    </div>
</section><!-- End Resume Section -->