<section id="testimonials" class="testimonials section-bg ">
    <div class="container">
      <div class="section-title">
        <h2>Testimonials</h2>
      </div>
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <% testimonials.forEach(data => { %>
            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    <%= data.quote %> 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="<%= data.img %> " class="testimonial-img" alt="">
                <h3><%= data.author %> </h3>
                <h4><%= data.profession %> </h4>
                <h4>at <%= data.from %> </h4>
              </div>
            </div>
          <% }) %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section><!-- End Testimonials Section -->