<%- include('./components/header.ejs'); %>

<%- include('./components/hero.ejs'); %>

<main id="main">
  <%- include('./components/about.ejs'); %>

  <%- include('./components/skills.ejs'); %>

  <%- include('./components/resume.ejs'); %>

  <%- include('./components/services.ejs'); %>

  <%- include('./components/portfolio.ejs'); %>

  <%- include('./components/testi.ejs'); %>

  <%- include('./components/contact.ejs'); %>


</main><!-- End #main -->